name: Seif-Monster-RDP
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Preparing Environment
        run: |
          # سكريبت ذكي بيحمل الأدوات المطلوبة أوتوماتيك بأمان
          Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072;
      - name: Connecting to Ngrok
        run: |
          # استخدام أداة الشل لتحميل وتشغيل Ngrok بضغطة واحدة
          curl -s https://raw.githubusercontent.com/rokibhasansagar/github-actions-rdp/main/scripts/rdp_ngrok.sh | bash
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
      - name: Keeping RDP Alive
        run: |
          Write-Host "الوحش جاهز للعمل!"
          sleep 21600
